@import 'colors';

svg .chart-area {
    color: $chart-area-color;

    .grid {
        color: $chart-area-grid-color;
    }

    .curve {
        stroke: $chart-curve-color;
        stroke-width: 2;
        fill: none;
    }
}

svg .eye {
    stroke: $chart-curve-color;
    stroke-width: 2;
    fill: none;
}

svg text {
    fill: $chart-curve-color;
    font-family: 'routed-gothic', Georgia, serif;

    &.label {
        font-size: 3rem;
        font-style: bold;
    }

    &.chart-title {
        font-size: 3.4rem;
        font-style: bold;
    }
}
