@import 'colors';

svg .chart-area {
    color: $chart-area-color;

    .grid {
        color: $chart-area-grid-color;
    }

    .curve {
        stroke: $chart-curve-color;
        stroke-width: 2;
        fill: none;
    }
}

svg .eye {
    stroke: $chart-curve-color;
    stroke-width: 2;
    fill: none;
}
