@import 'fonts';
@import 'text';
@import 'diagram';

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    padding: 16px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-right: 16px;
    }
}

main .title {
    margin: 12px auto 4rem auto;
    padding: 0 20px;
}

main p {
    padding: 0 20px;
}

div.intro {
    margin-bottom: 6rem;
}

div.diagram-background {
    background-color: $diagram-background-color;
}

div.container {
    height: 300px;
    margin: auto;
    max-width: 1200px;

    @media (min-width: 500px) {
        height: 400px;
    }

    @media (min-width: 860px) {
        height: 500px;
    }

    @media (min-width: 1080px) {
        height: 600px;
    }

    @media (min-width: 1400px) {
        height: 720px;
        max-width: 1400px;
    }
}

div.container div.positioner {
    max-width: 1200px;
    margin: auto;
}

footer {
    padding: 3rem;
}

footer p {
    margin: auto;
    margin-bottom: 20px;
    padding: 0 20px;
}

.icon {
    width: 32px;
    height: 32px;
}
